In [3]:
import pandas as pd

path = 'data/ORO.csv'

df1 = pd.read_csv(path)

# We transpose our dataset to obtain all the variables would be in columns (columns=XXX and lines=XXX)
print(df1)

                   Borough  1999-00  2000-01  2001-02  2002-03  2003-04  \
0                      NaN      NaN      NaN      NaN      NaN      NaN
1     Barking and Dagenham   19,567   20,253   20,538   20,394   22,144
2                   Barnet   30,708   30,213   32,274   34,338   36,288
3                   Bexley   20,680   21,072   21,200   19,752   20,344
4                    Brent   33,253   32,513   33,276   33,537   35,837
5                  Bromley   26,474   26,142   28,638   30,276   30,918
6                   Camden   45,800   46,778   53,103   53,890   51,016
7                  Croydon   37,743   35,221   37,450   38,618   37,043
8                   Ealing   38,737   38,572   39,128   40,147   37,927
9                  Enfield   28,588   28,019   29,401   30,042   29,998
10               Greenwich   29,991   28,165   28,995   31,202   31,347
11                 Hackney   39,007   38,242   39,769   39,267   39,035
12  Hammersmith and Fulham   28,600   28,236   29,487   30,003   28,650
13                Haringey   34,075   32,799   37,661   39,017   36,807
14                  Harrow   16,777   17,031   18,217   19,573   18,430
15                Havering   18,787   19,761   21,868   21,537   22,165
16              Hillingdon   26,281   26,739   29,074   29,214   29,349
17                Hounslow   31,032   29,034   29,929   32,842   30,416
18               Islington   38,427   35,968   37,611   39,425   40,816
19  Kensington and Chelsea   30,779   30,714   29,605   31,921   29,873
20    Kingston upon Thames   14,649   14,265   13,811   14,330   16,309
21                 Lambeth   52,212   50,950   57,092   54,188   49,937
22                Lewisham   29,628   27,814   29,008   28,763   31,577
23                  Merton   16,812   16,569   17,747   17,880   18,738
24                  Newham   38,335   38,776   40,616   41,157   40,615
25               Redbridge   24,578   25,226   28,001   28,737   28,438
26    Richmond upon Thames   15,504   14,683   16,057   16,814   15,446
27               Southwark   43,734   40,447   45,707   45,960   46,276
28                  Sutton   14,493   13,938   15,359   14,987   16,154
29           Tower Hamlets   34,071   35,070   37,273   41,124   39,188
30          Waltham Forest   27,035   25,771   30,260   32,264   30,912
31              Wandsworth   35,527   34,756   35,717   36,204   33,567
32             Westminster   87,615   83,379   86,270   86,151   79,296
33                Heathrow    6,717    6,490    6,371    6,323    6,071
34            Inner London  537,810  523,929  558,919  567,070  546,653
35            Outer London  471,689  463,187  491,223  506,484  508,203

    2004-05  2005-06  2006-07  2007-08  2008-09  2009-10  2010-11  2011-12  \
0       NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1    21,442   22,062   21,384   19,536   19,987   19,843   19,177   18,825
2    37,887   34,871   29,920   26,645   26,374   26,273   25,701   26,281
3    18,859   20,011   16,997   16,811   16,171   15,451   13,739   12,168
4    35,582   35,140   30,474   28,126   27,213   29,046   29,492   31,592
5    30,761   30,793   28,424   25,195   26,350   23,781   22,031   21,903
6    45,432   42,236   42,435   35,398   34,175   33,773   34,205   35,799
7    35,004   34,859   31,510   30,587   32,789   33,210   32,292   32,775
8    36,418   37,295   36,734   33,963   32,747   33,654   35,030   32,575
9    28,131   27,473   27,058   25,275   24,533   24,459   23,657   22,928
10   31,186   31,354   29,829   30,617   28,677   25,622   24,130   22,415
11   36,492   34,630   31,160   32,241   29,713   28,721   28,016   27,902
12   27,139   25,861   25,334   23,219   22,928   22,867   24,151   23,426
13   35,553   35,367   30,595   29,487   27,379   25,743   24,588   25,911
14   18,107   17,481   15,837   14,074   15,047   15,392   14,973   14,169
15   21,431   21,772   19,997   17,200   18,020   17,153   17,581   17,302
16   27,800   28,377   28,144   26,399   25,420   24,165   23,535   23,937
17   27,908   27,233   24,485   23,623   23,748   23,142   23,855   24,768
18   37,956   37,050   35,248   30,228   29,383   28,432   28,076   27,025
19   26,812   24,731   24,328   23,485   21,979   20,883   21,181   20,766
20   15,690   15,141   13,105   12,276   11,296   11,012   11,150   11,232
21   45,784   41,968   38,868   35,855   35,186   35,458   35,672   36,993
22   34,833   33,387   32,150   31,055   31,553   29,553   28,874   27,172
23   17,281   17,299   16,078   15,025   15,146   14,840   14,721   14,157
24   36,460   39,020   35,597   35,448   33,519   34,259   34,361   32,011
25   26,173   24,679   24,646   22,544   24,410   24,034   24,519   24,257
26   15,320   14,891   13,408   12,073   11,885   11,529   11,734   12,012
27   43,771   41,432   39,713   40,029   39,266   37,048   36,252   34,475
28   16,942   16,077   15,408   13,340   13,831   13,033   12,408   11,736
29   36,329   33,756   32,627   30,892   27,710   26,990   28,652   29,452
30   29,491   30,143   28,927   25,751   26,240   27,266   27,539   24,876
31   31,641   30,130   30,039   27,299   25,088   25,469   24,723   24,392
32   79,338   71,582   66,267   63,934   63,331   64,022   63,996   66,315
33    6,168    6,024    5,053    4,402    3,817    3,283    2,950    3,079
34  517,540  491,150  464,361  438,570  421,210  413,218  412,747  411,639
35  491,413  486,951  452,365  419,060  419,884  412,905  407,264  399,908

    2012-13  2013-14  2014-15  2015-16  2016-17
0       NaN      NaN      NaN      NaN      NaN
1    17,240   16,104   16,235   17,477   14,638
2    25,364   22,724   23,192   24,978   21,549
3    12,335   11,837   12,280   12,644   11,163
4    27,260   24,476   25,101   26,128   23,237
5    20,248   19,445   20,434   21,137   17,243
6    32,840   28,646   28,428   30,185   25,390
7    31,109   28,202   28,804   28,951   25,777
8    30,003   25,886   25,941   27,032   23,684
9    22,521   22,631   22,308   22,942   19,401
10   21,110   19,630   21,023   21,950   20,023
11   27,804   26,031   25,706   27,209   24,933
12   21,782   18,985   20,259   20,514   17,629
13   23,377   22,074   23,824   26,024   23,894
14   13,463   12,236   12,316   13,174   11,309
15   16,458   15,127   15,358   16,851   14,680
16   20,636   19,268   22,019   21,972   19,195
17   22,509   19,668   20,825   21,926   19,339
18   27,865   24,603   26,222   28,144   23,254
19   20,839   17,975   18,836   19,663   17,206
20   10,198    9,288    9,774   10,155    8,739
21   34,912   32,923   33,025   34,998   29,787
22   24,727   22,327   22,109   24,712   20,654
23   13,376   11,596   12,164   12,933   10,973
24   31,716   28,950   28,986   30,084   26,306
25   22,419   20,044   20,128   19,637   16,963
26   11,803   10,518   10,788   10,729    9,780
27   32,747   31,195   30,130   31,422   27,529
28   11,188   10,401   10,974   10,949    9,102
29   29,082   27,139   27,348   28,752   26,005
30   24,478   22,097   20,782   21,799   17,899
31   25,445   22,241   22,583   23,292   20,809
32   62,014   54,054   48,279   49,204   42,414
33    2,698    2,484    3,128    3,077    2,795
34  395,150  357,143  355,735  374,203  325,810
35  373,718  341,178  350,446  363,364  314,694

In [4]:
df1

,Borough,1999-00,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Barking and Dagenham,"19,567","20,253","20,538","20,394","22,144","21,442","22,062","21,384","19,536","19,987","19,843","19,177","18,825","17,240","16,104","16,235","17,477","14,638"
2,Barnet,"30,708","30,213","32,274","34,338","36,288","37,887","34,871","29,920","26,645","26,374","26,273","25,701","26,281","25,364","22,724","23,192","24,978","21,549"
3,Bexley,"20,680","21,072","21,200","19,752","20,344","18,859","20,011","16,997","16,811","16,171","15,451","13,739","12,168","12,335","11,837","12,280","12,644","11,163"
4,Brent,"33,253","32,513","33,276","33,537","35,837","35,582","35,140","30,474","28,126","27,213","29,046","29,492","31,592","27,260","24,476","25,101","26,128","23,237"
5,Bromley,"26,474","26,142","28,638","30,276","30,918","30,761","30,793","28,424","25,195","26,350","23,781","22,031","21,903","20,248","19,445","20,434","21,137","17,243"
6,Camden,"45,800","46,778","53,103","53,890","51,016","45,432","42,236","42,435","35,398","34,175","33,773","34,205","35,799","32,840","28,646","28,428","30,185","25,390"
7,Croydon,"37,743","35,221","37,450","38,618","37,043","35,004","34,859","31,510","30,587","32,789","33,210","32,292","32,775","31,109","28,202","28,804","28,951","25,777"
8,Ealing,"38,737","38,572","39,128","40,147","37,927","36,418","37,295","36,734","33,963","32,747","33,654","35,030","32,575","30,003","25,886","25,941","27,032","23,684"
9,Enfield,"28,588","28,019","29,401","30,042","29,998","28,131","27,473","27,058","25,275","24,533","24,459","23,657","22,928","22,521","22,631","22,308","22,942","19,401"
10,Greenwich,"29,991","28,165","28,995","31,202","31,347","31,186","31,354","29,829","30,617","28,677","25,622","24,130","22,415","21,110","19,630","21,023","21,950","20,023"
11,Hackney,"39,007","38,242","39,769","39,267","39,035","36,492","34,630","31,160","32,241","29,713","28,721","28,016","27,902","27,804","26,031","25,706","27,209","24,933"
12,Hammersmith and Fulham,"28,600","28,236","29,487","30,003","28,650","27,139","25,861","25,334","23,219","22,928","22,867","24,151","23,426","21,782","18,985","20,259","20,514","17,629"
13,Haringey,"34,075","32,799","37,661","39,017","36,807","35,553","35,367","30,595","29,487","27,379","25,743","24,588","25,911","23,377","22,074","23,824","26,024","23,894"
14,Harrow,"16,777","17,031","18,217","19,573","18,430","18,107","17,481","15,837","14,074","15,047","15,392","14,973","14,169","13,463","12,236","12,316","13,174","11,309"
15,Havering,"18,787","19,761","21,868","21,537","22,165","21,431","21,772","19,997","17,200","18,020","17,153","17,581","17,302","16,458","15,127","15,358","16,851","14,680"
16,Hillingdon,"26,281","26,739","29,074","29,214","29,349","27,800","28,377","28,144","26,399","25,420","24,165","23,535","23,937","20,636","19,268","22,019","21,972","19,195"
17,Hounslow,"31,032","29,034","29,929","32,842","30,416","27,908","27,233","24,485","23,623","23,748","23,142","23,855","24,768","22,509","19,668","20,825","21,926","19,339"
18,Islington,"38,427","35,968","37,611","39,425","40,816","37,956","37,050","35,248","30,228","29,383","28,432","28,076","27,025","27,865","24,603","26,222","28,144","23,254"
19,Kensington and Chelsea,"30,779","30,714","29,605","31,921","29,873","26,812","24,731","24,328","23,485","21,979","20,883","21,181","20,766","20,839","17,975","18,836","19,663","17,206"
20,Kingston upon Thames,"14,649","14,265","13,811","14,330","16,309","15,690","15,141","13,105","12,276","11,296","11,012","11,150","11,232","10,198","9,288","9,774","10,155","8,739"
21,Lambeth,"52,212","50,950","57,092","54,188","49,937","45,784","41,968","38,868","35,855","35,186","35,458","35,672","36,993","34,912","32,923","33,025","34,998","29,787"
22,Lewisham,"29,628","27,814","29,008","28,763","31,577","34,833","33,387","32,150","31,055","31,553","29,553","28,874","27,172","24,727","22,327","22,109","24,712","20,654"
23,Merton,"16,812","16,569","17,747","17,880","18,738","17,281","17,299","16,078","15,025","15,146","14,840","14,721","14,157","13,376","11,596","12,164","12,933","10,973"
24,Newham,"38,335","38,776","40,616","41,157","40,615","36,460","39,020","35,597","35,448","33,519","34,259","34,361","32,011","31,716","28,950","28,986","30,084","26,306"
25,Redbridge,"24,578","25,226","28,001","28,737","28,438","26,173","24,679","24,646","22,544","24,410","24,034","24,519","24,257","22,419","20,044","20,128","19,637","16,963"
26,Richmond upon Thames,"15,504","14,683","16,057","16,814","15,446","15,320","14,891","13,408","12,073","11,885","11,529","11,734","12,012","11,803","10,518","10,788","10,729","9,780"
27,Southwark,"43,734","40,447","45,707","45,960","46,276","43,771","41,432","39,713","40,029","39,266","37,048","36,252","34,475","32,747","31,195","30,130","31,422","27,529"
28,Sutton,"14,493","13,938","15,359","14,987","16,154","16,942","16,077","15,408","13,340","13,831","13,033","12,408","11,736","11,188","10,401","10,974","10,949","9,102"
29,Tower Hamlets,"34,071","35,070","37,273","41,124","39,188","36,329","33,756","32,627","30,892","27,710","26,990","28,652","29,452","29,082","27,139","27,348","28,752","26,005"
30,Waltham Forest,"27,035","25,771","30,260","32,264","30,912","29,491","30,143","28,927","25,751","26,240","27,266","27,539","24,876","24,478","22,097","20,782","21,799","17,899"
31,Wandsworth,"35,527","34,756","35,717","36,204","33,567","31,641","30,130","30,039","27,299","25,088","25,469","24,723","24,392","25,445","22,241","22,583","23,292","20,809"
32,Westminster,"87,615","83,379","86,270","86,151","79,296","79,338","71,582","66,267","63,934","63,331","64,022","63,996","66,315","62,014","54,054","48,279","49,204","42,414"
33,Heathrow,"6,717","6,490","6,371","6,323","6,071","6,168","6,024","5,053","4,402","3,817","3,283","2,950","3,079","2,698","2,484","3,128","3,077","2,795"
34,Inner London,"537,810","523,929","558,919","567,070","546,653","517,540","491,150","464,361","438,570","421,210","413,218","412,747","411,639","395,150","357,143","355,735","374,203","325,810"
35,Outer London,"471,689","463,187","491,223","506,484","508,203","491,413","486,951","452,365","419,060","419,884","412,905","407,264","399,908","373,718","341,178","350,446","363,364","314,694"